## Machine Learning Process
* cargar data
* preprocesar
* entrenar un modelo
* evaluar el modelo
* hacer predicciones

La línea de código `from sklearn.linear_model import LogisticRegression` sirve para importar la clase `LogisticRegression` del módulo `linear_model` de la biblioteca `scikit-learn`. Esta clase permite crear y entrenar modelos de regresión logística, que se utilizan principalmente para resolver problemas de clasificación binaria o multiclase en machine learning.

In [6]:
# importando librerías obligatorias
# instalar previamente : pip install scikit-learn

import pandas as pd
from sklearn.linear_model import LogisticRegression

In [7]:
# cargar el data set y mostrar las primeras filas
iris_data = pd.read_csv('iris.csv')
iris_data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [8]:
# se dividirá la data en caracteristicas (x) y etiquetas (y)
# la función drop elimina las columnas que se le asignen como parámetro, así la variable x solo contiene las columnas 'sepal.width', 'petal.length' y 'petal.width'
# x,y son nuevos dataframes
# y es la variable de destino de las etiquetas
x = iris_data.drop(columns=['variety'])
y = iris_data['variety']
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
# se creará el modelo de aprendizaje automático
# se inicia el modelo con la configuración por defecto
model = LogisticRegression()